{% extends 'base_blog.html' %}
{% block title %}{{ record.title | truncatechars:20 }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
        <img src='{{ record.preview.url }}' class="img-thumbnail" alt="..." style="width: 400px; height: auto;">
    </div>
    <div class="card col" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item "><h5>{{ record.title }}</h5></li>
            <li class="list-group-item">{{ record.content }}</li>
        </ul>
    </div>
    <div class="col-1">
    </div>
</div>
<div class="row center">
    <div class="col">
    </div>
    <div class="col-3">
        <a class="btn btn-secondary btn-sm mt-4" href="{% url 'blog:records_list' %}">Назад</a>
        <a class="btn btn-light btn-sm mt-4" href="{% url 'blog:record_update' record.pk %}">Редактировать</a>
        <a class="btn btn-danger btn-sm mt-4" href="{% url 'blog:record_delete' record.pk %}">Удалить</a>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}