{% extends 'base_blog.html' %}

{% block title %}Удаление записи{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col text-center">
        <form method="post">
        {% csrf_token %}
            <h5 class="mb-5 mt-5">Вы уверены, что хотите удалить запись?</h5>
            <div class="btn-group">
                <button type="submit" class="btn btn-danger my-2">Да, удалить</button>
                <a href="{% url 'blog:record_detail' object.pk %}" class="btn btn-primary my-2">Нет, отменить</a>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}