<style>
    label {
        font-weight: bold;
    }
</style>
{% extends 'mailing_base.html' %}

{% block title %}Редактирование сообщения{% endblock %}

{%block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row text-center">
                <div class="col">
                    <button type="submit" class="btn btn-success">Подтвердить</button>
                    <a href="{% url 'mailing:message' message.pk %}"  class="btn btn-light">Назад</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}