{% extends 'base.html' %}
{% load my_tags %}

{% block title%}Главная страница{% endblock %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Онлайн супер-маркет</p>
</div>
{% endblock %}

{% block content %}
<div class="row text-center">
    {% for product in products %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_product | media_filter }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>
                <a href="#" class="btn btn-primary">В корзину</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}