{% extends 'base.html' %}
{% load my_tags %}

{% block title %}{{ product.product_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <img src='{{ product.image_product | media_filter }}' class="img-thumbnail" alt="..." style="width: 400px; height: auto;">
    </div>
    <div class="col">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Наименование</th>
                <td>{{ product.product_name }}</td>
            </tr>
            <tr>
                <th scope="row">Описание</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th scope="row">Категория</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th scope="row">Цена</th>
                <td>{{ product.price }} р.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row text-center mt-3">
    <div class="col-4"></div>
    <div class="col">
        <a href="{% url 'catalog:product_list' %}" type="button" class="btn btn-light">Назад</a>
        {% if perms.catalog.can_unpublish_product or perms.product.change_product or user == product.owner %}
        <a href="{% url 'catalog:product_update' product.pk %}" type="button" class="btn btn-warning">Редактировать</a>
        {% endif %}
        {% if perms.catalog.delete_product or user == product.owner%}
        <a href="{% url 'catalog:product_delete' product.pk %}" type="button" class="btn btn-danger">Удалить</a>
        {% endif%}
    </div>
    <div class="col-4"></div>
</div>
</div>

{% endblock %}